@import 'src/components/styles/variables';

* {
  padding: 0;
  margin: 0;
}

body {
  background: $darkGray;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

input[type="text"],
textarea {
  background: inherit;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  border: none;
  outline: none;
}