@import "./variables";

:local {
  $oddColor: $gray;
  $evenColor: $backgroundColor;

  .card {
    position: relative;
    @include box-shadow();

    &:nth-child(odd) {
      background: $oddColor;
      border-bottom: 1px solid $evenColor;
    }

    &:nth-child(even) {
      background: $evenColor;
      border-bottom: 1px solid $oddColor;
    }

    .toolBar {
      background: rgba(25, 25, 25, 0.1);
      height: $standardDimension;
      line-height: $standardDimension;

      .icon {
        float: right;
        display: inline-block;
        height: inherit;
        line-height: inherit;
        text-align: center;
        width: $standardDimension;

        &.rotate {
          svg {
            animation: rotate 2s infinite;
          }
        }
      }
    }
  }
}