@import "./variables";

:local {
  .content {
    .title {
      display: flex;
      align-content: center;
      padding: 0 $cardHorzPadding;
      min-height: 6rem;

      input {
        width: 100%;

        &.muted {
          color: $mutedColor;
        }
      }
    }

    .details {
      text-align: right;
      padding: 0 $cardHorzPadding;
      line-height: $standardDimension;
      min-height: $standardDimension;
    }
  }
}