@import "./variables";

:local {
  .content {
    display: flex;
    align-content: center;
    padding: 0 $cardHorzPadding;
    min-height: 6rem;

    input {
      width: 100%;

      &.grayed {
        color: $mutedColor;
      }
    }
  }
}