@import "./variables";

:local {
  $quoteBuffer: 6px;
  $collectionHeight: 6rem;

  @mixin padding {
    padding: 12px $cardHorzPadding;
  }

  .instruction {
    position: sticky;
    top: 0;
    background: $backgroundColor;
    color: $mutedColor;
    z-index: 1;
    @include box-shadow();
    @include padding();
  }

  .content {
    position: relative;
    min-height: 3rem;
    @include padding();

    .quoteLeft,
    .quoteRight {
      position: absolute;
      color: $slateGray;
    }

    .quoteLeft {
      top: $quoteBuffer;
      left: $quoteBuffer;
    }

    .quoteRight {
      right: $quoteBuffer;
      bottom: $quoteBuffer;
    }

    textarea {
      width: 100%;
      height: 100%;
    }
  }

  .collectionFilter {
    display: grid;
    grid-template-columns: 1fr $headerHeight;
    position: sticky;
    background: $backgroundColor;
    top: 0;
    height: $headerHeight;
    @include box-shadow();
    z-index: 1;
    line-height: $headerHeight;

    .collectionFilterText {
      color: $mutedColor;
      font-size: 90%;
      padding: 0 $cardHorzPadding;
    }

    .collectionFilterClear {
      width: $headerHeight;
      height: $headerHeight;
      text-align: center;
    }
  }

  .noResults {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $mutedColor;
  }

  .collectionTitle {
    @include padding();
    text-align: right;
    color: $mutedColor;
  }
}