@import "./variables";

:local {
  $quoteBuffer: 6px;

  .quote {
    position: relative;
    padding: 12px 24px;
    min-height: 3rem;

    &:nth-child(odd) {
      background: $gray;
    }

    .quoteLeft,
    .quoteRight {
      position: absolute;
      color: $sage;
    }

    .quoteLeft {
      top: $quoteBuffer;
      left: $quoteBuffer;
    }

    .quoteRight {
      right: $quoteBuffer;
      bottom: $quoteBuffer;
    }
  }
}