$black: #3B3B3B;
$darkGray: #505257;
$gray: #616C73;
$lightGray: #D4D4D4;

$red: #AA6E7C;
$orange: #E48D7A;

$slateGray: #83A4A4;
$sage: #9CC1B4;

$darkBlue: #557289;

$darkGreen: #4F7166;

$white: #FAF8FF;