$darkBlack: #222222;
$black: #3B3B3B;
$darkGray: #505257;
$gray: #616C73;
$lightGray: #b7babc;
$red: #AA6E7C;
$orange: #E48D7A;
$slateGray: #83A4A4;
$sage: #9CC1B4;
$darkBlue: #557289;
$darkPurple: #464362;
$darkGreen: #4F7166;
$white: #FAF8FF;

$backgroundColor: $darkGray;
$homeColor: $darkGreen;
$quotesColor: $darkBlue;
$collectionsColor: $red;
$loginColor: $darkPurple;
$mutedColor: $lightGray;

$cardHorzPadding: 24px;
$standardDimension: 3rem;
$headerHeight: $standardDimension;

@mixin box-shadow() {
  box-shadow: 0 0 10px black;
}

@mixin center() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}