@import 'src/components/styles/variables';

:local {
  $headerHeight: 3rem;

  .header {
    display: grid;
    grid-template-columns: $headerHeight 1fr;
    position: sticky;
    height: $headerHeight;
    width: 100%;
    background: $black;
    line-height: $headerHeight;
    box-shadow: 0 0 15px black;
    z-index: 1;

    .headerIcon {
      text-align: center;
    }
  }

  .section {
    height: calc(100vh - #{$headerHeight});
    overflow-y: scroll;
  }
}