@import 'src/components/styles/variables';

:local {
  $headerHeight: 3rem;
  $transitionDelay: 0.2s;

  .header {
    display: grid;
    grid-template-columns: $headerHeight 1fr $headerHeight;
    position: sticky;
    height: $headerHeight;
    width: 100%;
    background: $black;
    line-height: $headerHeight;
    z-index: 1;
    @include box-shadow();

    .headerIcon {
      text-align: center;
      transition: color $transitionDelay;

      &.active {
        &.home {
          color: $homeColor;
        }

        &.quotes {
          color: $quotesColor;
        }

        &.collections {
          color: $collectionsColor;
        }

        &.login {
          color: $loginColor;
        }
      }
    }
  }

  .section,
  .menu {
    position: absolute;
    top: $headerHeight;
    right: 0;
    bottom: 0;
    left: 0;
    height: calc(100vh - #{$headerHeight});
  }

  .section {
    overflow-y: scroll;
  }

  .menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    transition: opacity $transitionDelay;

    &.closed {
      opacity: 0;
      z-index: -1;
    }

    &.home {
      background: $homeColor;
    }

    &.quotes {
      background: $quotesColor;
    }

    &.collections {
      background: $collectionsColor;
    }

    &.login {
      background: $loginColor;
    }

    .card {
      display: flex;
      justify-content: center;
      align-items: center;
      background: $darkGray;
      min-height: 4rem;
      min-width: 4rem;
      margin: 20% 10%;
      border-radius: 4px;
      @include box-shadow();
    }
  }
}